langchain
langchain-groq
dotenv
langchain-huggingface
text-generation
transformers
google-search-results
numexpr
langchainhub
sentencepiece
jinja2
bitsandbytes
accelerate
streamlit
langchain-ollama
langchain-community
langgraph
sqlalchemy
psycopg2-binary
psycopg[binary]